{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<form class="w-full pt-12 xl:w-4/5"
    id="contact-form"
    method="post"
    action=""
    accept-charset="UTF-8">
    {{ csrfInput() }}

    <input type="hidden" name="action" value="contact-form/send" />

    <div class="flex justify-around flex-col md:flex-row m-auto w-full sm:col-20 flex-row">
        <div class="mt-4 mx-0 mb-8 flex-grow xl:mx-8 xl:mb-0">
            <label for="fromName" class="h4">Name</label>
            <input class="contact-form__input input"
                id="fromName"
                type="text"
                name="fromName"
                value="{{ message.fromName|default('') }}"
                required />
            {{ message is defined and message
                ? errorList(message.getErrors('fromName')) }}
        </div>

        <div class="mt-4 mx-0 mb-8 flex-grow xl:mx-8 xl:mb-0">
            <label for="fromEmail" class="h4">Email</label>
            <input class="contact-form__input input"
                id="fromEmail"
                type="email"
                name="fromEmail"
                value="{{ message.fromEmail|default('') }}"
                required />
            {{ message is defined and message
                ? errorList(message.getErrors('fromEmail')) }}
        </div>
    </div>

    <div class="flex justify-around flex-col m-auto w-full sm:col-20 flex-row">
        <div class="mt-4 mx-0 mb-8 flex-grow xl:mx-8 xl:mb-0">
            <label for="subject" class="h4">Subject</label>
            <input class="contact-form__input input"
                id="subject"
                type="text"
                name="subject"
                value="{{ message.subject|default('') }}"
                required />
            {{ message is defined and message
                ? errorList(message.getErrors('subject')) }}
        </div>
    </div>

    <!-- prettier-ignore-start -->
    <div class="flex justify-around flex-col m-auto w-full sm:col-20 flex-row">
        <div class="mt-4 mx-0 mb-8 flex-grow xl:mx-8 xl:mb-0">
            <label for="message" class="h4">Message</label>
            <textarea class="input resize-none"
                rows="5"
                id="message"
                name="message"
                required>{{ message.message|default('') }}</textarea>
            {{ message is defined and message
                ? errorList(message.getErrors('message')) }}
        </div>
    </div>
    <!-- prettier-ignore-end -->

    <div>
        <label for="form-validate"></label>
        <input id="form-validate"
            name="form-validate"
            type="text"
            style="display: none" />
    </div>

    <p class="text-center">
        <span class="hidden body bg-mint text-white py-4 px-8" id="message-success">
            Thanks. We'll be in touch.
        </span>
        <span class="hidden body bg-grey py-4 px-8" id="message-error">
            Something went wrong, please try again.
        </span>
    </p>

    <div class="flex justify-center pt-12">
        <input class="button focus:outline-none" type="submit" value="Send" />
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", () => { $("#contact-form")
    .submit(function (e) { e.preventDefault();

    $.post({ url: window.location.href, dataType: "json", data: $(this)
    .serialize(), success: function (response) { if (response.success) {
    $("#message-success") .fadeIn() .delay(2000) .fadeOut(); $("#contact-form")
    .trigger("reset"); } else { $("#message-error") .fadeIn() .delay(10000)
    .fadeOut(); } } }); }); });
</script>
